<div *ngIf="item">
  <item-element [(item)]="item"></item-element>
  <div>
    <button class="container__items__button" (click)="enableEdit()">Toggle Edit Mode</button>
  </div>
  <div>
    <button class="container__items__button" (click)="removeItem(item)">Remove item</button>
  </div>
  <div *ngIf="isEditMode" class="container__items__item">
    <h3>Edit item {{ item._id }}</h3>
    <item-input-element [(item)]="item"></item-input-element>
    <div>
      <button class="container__items__button" (click)="saveItem(item)">Save</button>
    </div>
  </div>
</div>
