<div class="container__items">
  <button (click)="toggleCreateItem()" class="container__items__button">{{ toggleText }}</button>
  <div *ngIf="isCreateModeEnabled" class="container__items__item">
    <h4 class="container__items__item__h4">Create item:</h4>
    <item-input-element [(item)]="item"></item-input-element>
    <div>
      <button class="container__items__button" (click)="saveItem(item)">Save</button>
    </div>
  </div>
  <div *ngIf="appProps.items.length > 0">
    <ul *ngFor="let im of appProps.items">
       <li><a [routerLink]="['/item', im._id]">{{ im.name }}</a></li>
    </ul>
  </div>
</div>
